{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Это успех!{%endblock%}

{% block content %}

    <style>
      body {
        text-align: center;
        background: #dcf5ec;
      }
    </style>

<div class="container mt-header mb-5 p-5">
  <div class="card my-0 mx-auto p-5 d-inline-block">
    <div class="card-body">
      <div class="my-0 mx-auto" style="border-radius:200px; height:200px; width:200px; background: #DA87A9;">
        <i style="color: #fff; font-size: 100px; line-height: 200px;">✕</i>
      </div>
        <h1 class="font_Gogh fs_40 cake_pink mt-3">Заказ не оплачен!</h1>
        <p class="cake_grey mt-3">Торт заказан, но с оплатой возникли проблемы.<br/>Обратитесь к администратору.</p>
        <a class="btn btn_hover text-white rounded-pill mt-3 px-5 shadow-none cake__button cake__bg_pink" href="{% url 'render_lk_page' %}">Личный кабинет</a>
    </div>
  </div>
</div>

{% endblock %}