{% extends 'base.html' %}
{% load static %}

{% block title %}Личный кабинет{%endblock%}

{% block content %}
<div class="container mt-header mb-5">
	<div class="row mt-5">
		<div class="col-12 col-xxl-6 d-flex justify-content-center">
			<div><img src="{% static 'bakecake/media/Cake2.png' %}" alt=""></div>
		</div>
		<div class="col-12 col-xxl-6 d-flex flex-column justify-content-center align-items-center align-items-xxl-start" id="LK">
			<v-form :validation-schema="Schema" @submit="ApplyChanges">
				<div class="d-flex w-100 justify-content-center justify-content-xxl-between align-items-center">
					<h1 class="font_Gogh fs_40 cake_blue">Личный кабинет</h1>
					<button v-if="!Edit" @click="Edit = true" class="btn shadow-none align-self-center">
						<svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="#DA87A9" style="border-bottom: #DA87A9 2px solid" class="bi bi-pencil-fill" viewBox="0 0 16 16">
							<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
						</svg>
					</button>
					<button v-if="Edit" type="submit" class="btn shadow-none align-self-center">
						<svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="#DA87A9" style="border-bottom: #DA87A9 2px solid" class="bi bi-check-lg" viewBox="0 0 16 16">
							<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
						</svg>
					</button>
				</div>
				<div class="d-flex">
					<ul class="list-group">
						<li class="list-group-item border-0 ps-0">
							<span class="fs_40 cake_blue">Имя</span>
						</li>
						<li class="list-group-item border-0 ps-0">
							<h1 class="fs_40 cake_blue">Телефон</h1>
						</li>
						<li class="list-group-item border-0 ps-0">
							<h1 class="fs_40 cake_blue">Почта</h1>
						</li>
					</ul>
					<ul class="list-group">
						<li class="list-group-item border-0 py-61 position-relative">
              <p class="form-control my-2 i cake__textinput">{{ user.username }}</p>
						</li>
						<li class="list-group-item border-0 py-61 position-relative">
              <p class="form-control my-2 i cake__textinput">{{ user.phonenumber }}</p>
						</li>
						<li class="list-group-item border-0 py-61 position-relative">
              <p class="form-control my-2 i cake__textinput">{{ user.email }}</p>
						</li>
					</ul>
				</div>
			</v-form>
			<h2 class="fs_40 cake_pink mt-5">Мои заказы</h2>

      {% if user.orders.all %}

        {% for order in user.orders.all %}
          <section class="my-2">
            <span class="cake_blue lk__order d-flex" data-bs-toggle="modal" data-bs-target="#OrderModal{{ order.id }}">
              {% if order.status == "c" %}
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
              {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                </svg>
              {% endif %}
              <span class="ms-1">#{{ order.id }} {{ order.cake }}</span>
            </span>
            <aside class="modal fade" id="OrderModal{{ order.id }}" tabindex="-1" aria-labelledby="ModalLabel2" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title cake_pink" id="ModalLabel{{ order.id }}">#{{ order.id }} {{ order.cake }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <span class="cake_blue">Уровней: {{ order.cake.level_count }}</span><br>
                    <span class="cake_blue">Форма: {{ order.cake.shape }}</span><br>
                    <span class="cake_blue">Топпинг: {{ order.cake.topping }}</span><br>
                    <span class="cake_blue">Ягоды: {{ order.cake.berry }}</span><br>
                    <span class="cake_blue">Декор: {{ order.cake.decor }}</span><br>
                    {% if order.cake.inscription %}
                      <span class="cake_blue">”{{ order.cake.inscription }}”</span><br>
                    {% else %}
                     <span class="cake_blue">Без надписи</span><br>
                    {% endif %}
                    <span class="cake_pink">Цена: {{ order.price }}₽</span>
                  </div>
                  <div class="modal-footer d-flex justify-content-between">
                    <span class="cake_blue d-flex align-items-center">Время доставки: {{ order.deliver_date }}</span>
                    <span class="cake_blue d-flex align-items-center">Адрес: {{ order.deliver_address }}</span>

                    <span class="cake_blue d-flex">Статус: <span class="cake_pink mx-1"> {{ order.get_status_display }}</span></span>
                  </div>
                </div>
              </div>
            </aside>
          </section>
        {% endfor %}

      {% else %}

        <span class="cake_grey">У вас еще нет заказов.</span>
        <p class="cake_grey">Вы можете добавить торт из <a href="{% url 'render_index_page' %}#step2" class="text-decoration-none cake_pink">Каталога</a> или <a href="{% url 'render_index_page' %}#step3" class="text-decoration-none cake_pink">Создать свой</a>.</p>
        <span class="cake_grey">Есть вопросы?</span>
        <span class="cake_grey">Воспользуйтесь нашим <a href="https://vk.com/devmanorg" class="text-decoration-none cake_pink">чат-ботом</a>.</span>

      {% endif %}








			<a class="btn text-white rounded-pill align-self-end px-5 mt-3 shadow-none cake__button cake__bg_pink" href="{% url 'logout' %}">Выйти</a>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{% static 'bakecake/lk.js' %}"></script>

{% endblock %}
